<section class="users_index">
  <br><br><br><br><br>
  <div class="users">
    <% @users.each do |user| %>
       <div class="user">
          <% if user==current_user%>
            <%next%>
          <%end%>
          <img src=<%= user.cl_image %> class = "icon_image">
          <%= link_to(user.name, "/users/#{user.id}") %>
          <% end %>
  </div>
</section>
