<br><br><br><br><br>
<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
<% if user==current_user%>
 <%next%>
<%end%>
  <img src=<%= user.cl_image %> class = "icon_image">
  <%= link_to(user.name, "/users/#{user.id}") %>
  <hr>


<% end %>
